body{
    background-color: #f4f4f4;
    text-align: center;
    border: 10px solid;
    font-family: Arial, Helvetica, sans-serif
}

#main-header h2{
    background-color: orange;
    padding: 10px;
    margin: 0;
}

#main-header p{
    background-color: palegoldenrod;
    font-size: 20px;
}

#form{
    background-color: peachpuff;
    font-weight: bold;

}

#btn{
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}

#footer{
    background-color: gray;
    color: white;
}